@mixin all-transition($time) {
  transition: all $time;
  -webkit-transition: all $time;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
}

.menu {
  font-weight: 100;
  background: #efefef;
  width: 120px;
  height: 100%;
  margin-top: 0px;
  padding-left: 50px;
  position: fixed;
  -webkit-box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
  box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
  top: 0px;
  left: -100px;
  @include all-transition(0.3s);
  color: #222;

  &:hover, &:focus {
    transform: translate3d(100px, 0, 0);
    animation-timing-function: 1s ease-in;
  }

  .nav {
    // @include vertical-align(absolute);
    font-weight: 100;

    li {
        padding-bottom: 30px;
        list-style-type: none;

        a {
          display: block;
          text-decoration: none;
          color: inherit;
          @include all-transition(0.3s);

          &:hover
          {
            color: #aaa;
          }
        }
    }
  }
}